<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hello Socks | Stytch example</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>

<body>
    <div class="app">
        <div class="nav">
            <h2>Hello Socks</h2>
            <div>
                <span class="navItem">{{.NavLinks.Women}}</span>
                <span class="navItem">{{.NavLinks.Men}}</span>
                <span class="navItem">Kids</span>
                <span class="navItem">Sale</span>
                <span class="navItem">Community</span>
            </div>
            <div>
                <img class="icon" src="/assets/images/shopping-bag.png">
                <img class="icon" src="/assets/images/person.png">
            </div>
        </div>
        <div class="content">
            <div class="card">
                <div class="cardContent pt">
                    <h2>{{.Who}}'s Socks</h2>
                </div>
                {{range .Products}}
                <div class="cardContent">
                    <h3>{{.Name}} socks</h3>
                    <div class="click-zoom" style="display:inline-table; height:inherit; position:relative">
                        <label>
                            <input type="checkbox">
                            <img class="socksimg" src="/assets/images/{{.Imagename}}" alt="{{.}} 's {{.Name}} socks"
                                title="Photo by NIKHIL on Unsplash">
                        </label>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</body>

</html>